.Dictionary {
  text-align: center;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 7px;
}
